
  <manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ionicframework.cap.mapbox.capacitormapbox">

    <application>
      <activity
          android:name="com.ionicframework.cap.mapbox.MapBoxActivity"
          android:configChanges="orientation|keyboardHidden|screenSize">
        <intent-filter>
          <action android:name="com.ionicframework.cap.mapbox.MapBoxActivity"/>
          <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
      </activity>
    </application>
  </manifest>
  